<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Автвризуйтесь</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/times.css') }}">
</head>
<body>
    <div class="topnav">
        <a class="navigation navigation-reg" href="/reg">Регистрация</a>
    </div>
    {% if not request.form["emaila"] and test  == 1 %}
        <h2 class = "error1 error1-font1">Заполните емаил</h2>
    {% elif not request.form["cod"] and test  == 1 %}
        <h2 class = "error1 error1-font1">Заполнике пароль</h2>
    {% endif %}
    {% if authenticity == 0 and test  == 1 %}
        <h2 class = "error1 error1-font1">Пароль неверный</h2>
    {% endif %}
    <div class="container-from1">
        <p class="font2">Для аунтефикацию заполните эту форму</p>
        <form method="post" class="from1" >
            <div>
                <label>Введите свой email</label><br>
                <input type="email" name="emaila"
                       placeholder="Введите свой emai
                       l" class="texti1"
                       value="{{ request.form['emaila'] }}"/>
            </div>
            <div>
                <label>Введите пароль</label><br>
                <input type="password" name="cod"
                       placeholder="Введите  пароль" class="texti1"
                       value="{{ request.form['cod'] }}"/>
            </div>
            <button type="submit" class="from1-button" href="/reg">Отправить форму</button>
            <a href="/head">Главная страница</a>
        </form>
    </div>
</body>
</html>