<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Привет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/times.css') }}">
</head>
<body>
    <div class="topnav">
        <a class="navigation navigation-reg" href="/reg" >Регистрация</a>
        <a class="navigation" href="/auth">Войти</a>
    </div>

    <h1 class="heading">Зарегестрируйся или войти</h1>
    <a class="font1" href="/reg">Зарегистрируйся</a><br>
    <a class="font1" href="/auth">Войдите</a>
</body>
</html>