<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/times.css') }}">
</head>
<body>
    <div class="topnav">
        <a class="navigation" href="#">Привет</a>
    </div>
    <form>
        <label class="font2">Ведите Ваше имя</label><br>
        <input type="text"
               placeholder="ваше имя" class="texti1"
               >"{{request.form['fname'] }}"</input>
        <button type="submit">Submit</button>
    </form>
</body>
</html>