<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/times.css') }}">
</head>
<body>
    <div class="topnav">
        <a class="navigation" href="/auth">Войти</a>
    </div>
    <div class="container-from1">
        <p class="font2">Для регbстрации заполните эту форму</p>
        <form method="post" class="from1">
            <div>
                <label >Введите Ваше имя</label><br>
                <input type="text" name="fname"
                       placeholder="Ваше имя" class="texti1"
                       value="{{ request.form['fname'] }}"
                />
            </div>
            <div>
                <label>Введите Ваш логин</label><br>
                <input type="text" name="sname"
                       placeholder="Ваш логин"
                       class="texti1" value="{{ request.form['sname'] }}"/>
            </div>
            <div>
                <label>Введите пароль</label><br>
                <input type="password" name="cod"
                placeholder="Придумайте пароль"
                class="texti1" value="{{ request.form['cod'] }}"/>
            </div>
            <div>
                <label>Введите ваш email</label><br>
                <input type="email" name="email"
                placeholder="Введите ваш email"
                class="texti1" value="{{ request.form['email'] }}"/>
            </div>

            <button type="submit" class="from1-button">Отправить форму</button>
        </form>
    </div>

</body>
</html>