<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/times.css') }}">
</head>
<body>
    <div class="topnav">
        <a class="navigation" href="/auth">Войти</a>
    </div>
    {% if not request.form["fname"] and test  == 1 %}
        <h2 class = "error1 error1-font1">Заполните имя</h2>
    {% elif not request.form["sname"] and test  == 1  %}
        <h2 class = "error1 error1-font1">Заполните псевдоним</h2>
    {% elif not request.form["email"] and test  == 1  %}
        <h2 class = "error1 error1-font1">Заполните емаил</h2>
    {% elif not request.form["cod"] and test  == 1 %}
        <h2 class = "error1 error1-font1">Заполнике пароль</h2>
    {% endif %}
    <div class="container-from1">
        <p class="font2">Для регистрации заполните эту форму</p>
        <form method="post" class="from1">
            <div>
                <label >Введите Ваше имя</label><br>
                <input type="text" name="fname"
                       placeholder="Ваше имя" class="texti1"
                       value="{{ request.form['fname'] }}"/>
            </div>
            <div>
                <label>Введите Ваш логин</label><br>
                <input type="text" name="sname"
                       placeholder="Ваш логин"
                       class="texti1" value="{{ request.form['sname'] }}"/>
            </div>
            <div>
                <label>Введите пароль</label><br>
                <input type="password" name="cod"
                placeholder="Придумайте пароль"
                class="texti1" value="{{ request.form['cod'] }}"/>
            </div>
            <div>
                <label>Введите ваш email</label><br>
                <input type="email" name="email"
                placeholder="Введите ваш email"
                class="texti1" value="{{ request.form['email'] }}"/>
            </div>

            <button type="submit" class="from1-button">Отправить форму</button>
            <br>
            <a href="/head">Главная страница</a>
        </form>
    </div>
</body>
</html>