.heading {
    font-family: "Comic Sans MS", sans-serif;
    color: black;
}
.font1{
    font-family: "Comic Sans MS", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.font2{
     font-family: "Comic Sans MS", sans-serif;
    color: blue;
    text-decoration: none;
    font-size: 20px;
}
.topnav {
    background-color: #CFCFCF;
    overflow: hidden;
}
.navigation{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navigation-reg{
    background-color: #00CF00;
    border-radius:8px;
}
.radio{
    margin-bottom: 10px;
}
.texti1{
    border-color: blue;
    border-radius:8px;
    padding: 14px 16px;
}

