.heading {
    font-family: "Comic Sans MS", sans-serif;
    color: black;
}
.font1{
    font-family: "Comic Sans MS", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.font2{
    font-family: "Comic Sans MS", sans-serif;
    color: blue;
    text-decoration: none;
    font-size: 25px;
}
.from1{
    font-family: "Comic Sans MS", sans-serif;
    color: blue;
    text-decoration: none;
    font-size: 25px;

}
.container-from1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.from1-button{
  border: 0;
  background: #C2F56E;
  color: #A63E00;
  padding: 8px 16px;
  font-size: 16px;
  border-radius:8px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-family: "Comic Sans MS", sans-serif;
  margin-top: 10px;
  cursor: pointer;
}
.from1-button:hover{
  background: #5F9900;
  outline-style: solid;
  outline-width: 3px;
  outline-color: #bbbbbb;

}
.topnav {
    background-color: #CFCFCF;
    overflow: hidden;
}
.navigation{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Comic Sans MS", sans-serif;
}
.navigation-reg{
    background-color: #00CF00;
    border-radius:8px;
}

.texti1{
    border-color: blue;
    border-radius:8px;
    padding: 14px 16px;
}
.error1{
    background-color: #ff9218;
    border-radius:8px;
    font-family: "Comic Sans MS", sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 6px;
    width: 250px;
}
.error1-font1{
    text-align: center;
    font-size: 22px;
    color: #8b0000;
}
.login1 {
    background-color: #CFCFCF;
    overflow: hidden;
}
.login1 h1{
    float: contour;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Comic Sans MS", sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
